---
import Layout from '../layouts/RootLayout.astro';
import SingleProjectsLayout from '../layouts/SingleProjectsLayout.astro';

import { Image } from 'astro:assets';
import projectImage from '../../public/algorithms.png';
---

<SingleProjectsLayout
	title="Knowledge Portfolio"
	img="../../algorithms.png"
	stackList="Next.js 12, Supabase, Styled Components"
>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
		Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
		Suspendisse urna nibh viverra non semper suscipit posuere a pede.
	</p>

	<p>
		Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
		sit amet orci. Aenean dignissim pellentesque felis.
	</p>

	<p>
		Morbi in sem quis dui placerat ornare. Pellentesque odio nisi euismod in
		pharetra a ultricies in diam. Sed arcu. Cras consequat.
	</p>
</SingleProjectsLayout>

<style>
	p {
		margin: 15px 0 30px 0;
	}
</style>
