<header>
	<div class="container mx-auto xl px-5 py-5">
		<div class="nav-inner">
			<p>Sergi Oca</p>

			<nav>
				<a href="">Projects</a>
				<a href="">Contact</a>
			</nav>
		</div>
	</div>
</header>

<style>
	header {
		border-bottom: 1px solid var(--pink);
	}

	.nav-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-inner p {
		color: #fff;
		margin: 0;
		position: relative;
	}

	.nav-inner p:after {
		content: '';
		right: -45px;
		top: -20px;
		width: 1px;
		height: 64px;
		position: absolute;
		background-color: var(--pink);
	}

	nav {
		display: flex;
		gap: 2rem;
	}

	nav {
		display: flex;
		gap: 2rem;
	}

	nav a {
		color: #fff;
	}
</style>
