<header>
	<div class="container mx-auto xl px-5 py-5">
		<div class="nav-inner">
			<p>Sergi Oca</p>

			<nav>
				<a href="">Projects</a>
				<a href="">Contact</a>
			</nav>
		</div>
	</div>
</header>

<style>
	header {
		background: rgba(100, 116, 139, 0);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
		border: 1px solid rgba(100, 116, 139, 0.3);
		z-index: 100;
		position: relative;
	}

	.nav-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-inner p {
		color: #fff;
		margin: 0;
		position: relative;
	}

	.nav-inner p:after {
		content: '';
		right: -45px;
		top: -20px;
		width: 1px;
		height: 64px;
		position: absolute;
		background-color: rgba(100, 116, 139, 0.3);
	}

	nav {
		display: flex;
		gap: 2rem;
	}

	nav {
		display: flex;
		gap: 2rem;
	}

	nav a {
		color: #fff;
	}
</style>
