---
import { Image } from 'astro:assets';
import knowldgePortfolioImage from '../../algorithms.png';
import Card from './Card.astro';
---

<div class="grid grid-cols-4">
	<!-- Colors: https://tailwindcss.com/docs/customizing-colors -->
	<Card
		href="/project1"
		title="Knowledge Portfolio"
		description="Test Description"
		stackList="Next.js 12, Supabase, Styled Components"
		img="../algorithms.png"
		position="even"
		index="1"
		stackBgColor="bg-cyan-400"
	/>
	<Card
		href="/projects/project-1"
		title="Knowledge Portfolio"
		description="Test Description"
		stackList=""
		img="../algorithms.png"
		position="odd"
		index="2"
		stackList="Next.js 12, Supabase, Styled Components"
		stackBgColor="bg-fuchsia-400"
	/>
	<Card
		href="/projects/project-1"
		title="Knowledge Portfolio"
		description="Test Description"
		stackList=""
		img="../algorithms.png"
		position="even"
		index="2"
		stackList="Next.js 12, Supabase, Styled Components"
		stackBgColor="bg-fuchsia-400"
	/>
	<!-- <a href="/project1">
		<h2>Knowledge Portfolio</h2>
		<p>Short Description:</p>
		<img
			src="../algorithms.png"
			alt="Knowledge Portfolio"
			width="500"
			transition:name="img"
		/>
	</a> -->
</div>

<script>
	// https://codepen.io/GreenSock/pen/BarWPyB
	import { gsap } from 'gsap';
	import { ScrollTrigger } from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	const cards = document.querySelectorAll('.card');

	cards.forEach((card, index) => {
		console.log(`${index}-00`);
		ScrollTrigger.create({
			onUpdate({ progress }) {
				// console.log(progress, direction, isActive);
				gsap.to(card, {
					duration: 0,
					// ease: 'ease',
					y: -progress * Number(`${index}00`),
				});
			},
		});
	});
</script>
