---
import { Image } from 'astro:assets';
import knowldgePortfolioImage from '../../algorithms.png';
import Card from './Card.astro';
---

<div class="grid grid-cols-1 md:grid-cols-2">
	<Card
		href="/project1"
		title="Knowledge Portfolio"
		description="Test Description"
		img="../algorithms.png"
	/>
	<!-- <a href="/project1">
		<h2>Knowledge Portfolio</h2>
		<p>Short Description:</p>
		<img
			src="../algorithms.png"
			alt="Knowledge Portfolio"
			width="500"
			transition:name="img"
		/>
	</a> -->
</div>
