---
import Layout from '../layouts/RootLayout.astro';
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<Layout title={title}>
	<div class="container">
		<h1>{title}</h1>

		<div>
			<slot />
		</div>
	</div>
</Layout>

<style></style>
